pandas
numpy
scipy
scikit-learn
plotly
streamlit
sqlalchemy
seaborn
matplotlib

# The following are Python standard-library modules.
# They should NOT be installed with pip, but we keep them here as notes
# because the code depends on them.
# glob
# pathlib
# os
# sys
